---
- name: Server Configuration
  hosts: all

  vars:
    ansible_connection: "winrm"
    ansible_winrm_server_cert_validation: "ignore"
    ansible_user: "ansible-admin"

  tasks:
    # Import secrets from Ansible Vault
    - name: Import Secrets
      ansible.builtin.include_vars:
        file: vars/secrets.yml

    - name: Install chocolatey
      chocolatey.chocolatey.win_chocolatey:
        name: chocolatey
        state: present

    # Install Applications from public chocolatey repository
    - name: Install Base Applications
      chocolatey.chocolatey.win_chocolatey:
        name:
          - powershell-core
          - googlechrome
          - sysinternals
          - 7zip.install
          - notepadplusplus.install
          - vscode
        state: latest

    # Update all applications installed via chocolatey
    - name: Update Installed Applications
      chocolatey.chocolatey.win_chocolatey:
        name: all
        state: latest

    # Create C:\Temp
    - name: Create Temp Folder
      ansible.windows.win_file:
        path: C:\Temp
        state: directory

    # Disable Un-Needed Services
    - name: Disable Xbox Live Auth Manager
      ansible.windows.win_service:
        name: "Xbox Live Auth Manager"
        start_mode: disabled
        state: stopped

    - name: Disable Xbox Live Game Save
      ansible.windows.win_service:
        name: "Xbox Live Game Save"
        start_mode: disabled
        state: stopped

    - name: Disable Xbox Live Networking Service
      ansible.windows.win_service:
        name: "Xbox Live Networking Service"
        start_mode: disabled
        state: stopped

    # Enable services that are wanted
    - name: Enable Remote Registry
      ansible.windows.win_service:
        name: "Remote Registry"
        start_mode: auto
        state: started

    - name: Join the domain
      microsoft.ad.membership:
        dns_domain_name: "dunlapistan.com"
        hostname: "{{ inventory_hostname }}"
        domain_admin_user: "{{ domain_join_user }}"
        domain_admin_password: "{{ domain_join_pw }}"
        domain_ou_path: "OU=Servers,DC=Dunlapistan,DC=com"
        state: domain
        reboot: true
